<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controllers.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controllers.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>controllers.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controllers.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controllers.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controllers.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controllers.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>controllers.BillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>controllers.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMailServlet</servlet-name>
        <servlet-class>controllers.CheckMailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/BillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/SupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMailServlet</servlet-name>
        <url-pattern>/CheckMailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
